NEXT_PUBLIC_API_URL=https://api.schoolgo.com.au
NEXT_PUBLIC_SITE_URL=https://schoolgo.com.au
NEXT_PUBLIC_SCHOOL_URL=https://school.schoolgo.com.au
NEXT_PUBLIC_PARENT_URL=https://parent.schoolgo.com.au
NEXT_PUBLIC_AGENT_URL=https://agent.schoolgo.com.au
NEXT_PUBLIC_BASE_DOMAIN=schoolgo.com.au
PORT=3000
